name: Package

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  package:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Create Retail Package
        uses: BigWigsMods/packager@v2
        with:
          args: -d
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload zip to release
        uses: softprops/action-gh-release@v1
        with:
          files: .release/Aurora*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
